@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans-Bold|Quattrocento);
@import url(http://fonts.googleapis.com/css?family=Montserrat|Montserrat);
/* structure */

body {
    background-color: #B7B7A4;
    margin: 0;
}
header {
    background-color: #6B705C;
    height: 120px;
}
.content {
    padding-top: 30px;
    padding-left: 90px;
    padding-right: 90px;
    min-height: 400px;
    background-color: #B7B7A4
}
footer {
    background-color: #6B705C;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.wrapper {
    width: 980px;
    margin: auto;
}
hr {
    height: 2px;
    width: 700px;
	background-color: #6B705C;
	border: none;
	margin: 60px 0 100px 0;
}
/* header */

header h1 {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 900;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
    color: #B7B7A4;
}
header h4 {
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 0px;
    color: #B7B7A4;
}
/* body */

.hero-photo {
    text-align: center;
}
h2 {
    font-family: 'Quattrocento Sans', sans-serif;
    text-align: center;
    color: #264653;
}
p {
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    color: #264653;
}
li {
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    color: #264653;
}
footer p {
    text-align: center;
    color: #B7B7A4;
}
a:link {color: teal; text-decoration: none;}
a:visited {color: rgb(45, 92, 87);}